* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.header {
    background-color: red;
    width: 100%;
    height: 100%;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blue;
    width: 100%;
    height: 100%;
    grid-column: 2 / 6;
    grid-row: 2 / 6;
}

.sidebar {
    background-color: yellow;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 6;
}


.card {
    width: 15rem;
    height: 20rem;
    border: 0.5px solid black;
    border-radius: 20px;
    padding: 15px;
}

.cardTitle {
    font-family: Roboto, sans-serif;
    font-style: oblique;
    
}

.cardDescription {}
