* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.header {
    background-color: red;
    width: 100%;
    height: 100%;
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

.main {
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    width: 100%;
    height: 100%;
    grid-column: 2 / 6;
    grid-row: 2 / 6;
}

.sidebar {
    background-color: yellow;
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 6;
}

.card {
    width: 13rem;
    height: 18rem;
    border: 0.5px solid black;
    border-radius: 20px;
    padding: 15px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.cardTitle {
    font-family: Roboto, sans-serif;
    font-style: oblique;
    text-align: center;
}

.cardDescription {
    font-family: Roboto, sans-serif;
}
